
@font-face {
    font-family: 'GrotesqueLight';
    src: url('fonts/Grotesque/akzidenz-grotesk-bq-light-condensed.eot'),
    url('fonts/Grotesque/akzidenz-grotesk-bq-light-condensed.woff') format('woff'),
    url('fonts/Grotesque/akzidenz-grotesk-bq-light-condensed.ttf') format('truetype'),
    url('fonts/Grotesque/akzidenz-grotesk-bq-light-condensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}