/*fonts*/
.RR {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.RM {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.RB {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.LR {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.LB {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.PTS700 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
}
.PTSitalic {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-style: italic;
}
/**/
/*functions*/
*::-webkit-input-placeholder {
  color: #f4f4f4;
  font-size: 1rem;
}
*:-moz-placeholder {
  color: #f4f4f4;
  font-size: 1rem;
}
*::-moz-placeholder {
  color: #f4f4f4;
  font-size: 1rem;
}
*:-ms-input-placeholder {
  color: #f4f4f4;
  font-size: 1rem;
}
ul {
  list-style: none;
}
.burger {
  display: none;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.full {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-underline {
  text-decoration: underline;
}
.clear {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
  content: "";
}
.vam {
  vertical-align: middle;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #474848;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 1025px) and (max-width: 1365px) {
  * {
    font-size: 13px;
  }
}
/* For modern browsers */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: "";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
/* для IE6-7 */
.clearfix,
.container,
.row {
  zoom: 1;
  position: relative;
}
.after,
.before {
  content: '';
  display: block;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.fln {
  float: none;
}
.text-left {
  text-align: left!important;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
  line-height: 0;
  font-size: 0.1px!important;
}
.text-justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.vert-bottom {
  vertical-align: bottom;
}
.ttu {
  text-transform: uppercase;
}
.h-nav {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.h-nav li {
  display: inline-block;
}
.bd100 {
  border-radius: 100%;
}
.w100p {
  width: 100%;
}
.w50p {
  width: 50%;
}
/*------------------------Градиенты---------------------------*/
/*------------------------Градиенты---------------------------*/
/*----------------------Трансформация--------------------------*/
/*----------------------Трансформация--------------------------*/
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*functions*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
/*animations*/
/*------------------------move bg---------------------------*/
/*animations*/
